// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  vertical-gradient #eee, #fff
  text-align center

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #0057c5
  text-shadow 1px 1px 2px white

#banner
  border thin solid green

#content
  padding 50px

#leftcolumn
  float left
  width 75%

#menu
  height 20px
  border thin solid red

#editor
  background white
  text-align left
  border thin solid black

#rightcolumn
  float right
  width 24%

#chat
  height 100%
  border thin solid blue

  #messageContainer
    width 23%
    min-height 21m

  #messages
    height 22em
    overflow hidden
    padding 1em
  
    .message
      clear left
      font-size 10px
      padding 12px
    
      .user
        font-weight bold
        float left
        width 23%
  
      .body
        float left
  
  form#sendMessage
    position relative
    height 5em
    
