body
  padding-top 40px

#chat
  border-right solid thin grey

#messageContainer
  height 300px

#messages
  overflow scroll

  .message
    clear left

    .user
      float left
      font-weight bold

    .body
      float left

#sendMessage
  position relative
  bottom 30px
  left 2px

#newMessage
  float left
  width 150px

#sendButton
  float left
  width 50px

#highlight-menu
  width 77px
