// Example Stylus file
// All changes are detected and automatically compiled into CSS

@import 'helpers'

// Main

body, html
  height 100%

body
  font normal 1em sans-serif
  vertical-gradient #eee, #fff
  text-align center

p
  margin-bottom 1em

a
  color #000a68

h1
  font-size 1.5em
  font-weight normal
  margin 1.5em
  color #0057c5
  text-shadow 1px 1px 2px white

#banner
  border thin solid green

#content
  padding 50px

#leftcolumn
  float left
  width 75%

#menu
  height 20px
  border thin solid red

#editor
  background white
  text-align left
  border thin solid black

#rightcolumn
  float right
  width 24%

#chat
  height 100%
  border thin solid blue

