!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title cdpd: code with friends
  body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          a.brand cdpd
          ul.nav
            li
              a#new(href="http://cdpd.no.de/", target="_blank") new
          p.navbar-text.pull-right
            a(href="http://github.com/jcurtis/cdpd") Fork on GitHub
    #content
      #editor
