!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title cdpd: code with friends
  body
    .topbar
      .topbar-inner
        .container-fluid
          a.brand cdpd
          ul.nav 
            li 
              a(href="https://github.com/jcurtis/cdpd"
              target="_blank") repo
          p(class="pull-right") A work in progress...

    .container-fluid
      .sidebar
        #chat
          #messageContainer
            #messages

              form#sendMessage
                input(id='newMessage', type='text', name='message', autocomplete='off')
                  input(id='sendButton', type='submit', value='Send')
                    #content
                      #menu
                        a this is where the menu goes
      .content
        #editor
          textarea#code
