!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title cdpd: code with friends
  body
    #content
      h1 This is a work in progress.
      p 
        a(href="https://github.com/jcurtis/cdpd") github repo
      textarea#code
