!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title cdpd: code with friends
  body
    .topbar
      .topbar-inner
        .container-fluid
          a.brand cdpd
          ul.nav 
            li 
              a(href="https://github.com/jcurtis/cdpd"
              target="_blank") repo
          ul.nav.secondary-nav
            li
              a#undo undo
            li
              a#redo redo
            li.dropdown(data-dropdown="dropdown")
              a.dropdown-toggle#highlight-menu highlighting
              ul.dropdown-menu
                li
                  a.highlight(mode="text/plain-text") Plain
                li.divider
                li
                  a.highlight(mode="text/x-csrc") C
                li
                  a.highlight(mode="text/x-c++src") C
                li
                  a.highlight(mode="text/css") CSS
                li
                  a.highlight(mode="text/html") HTML
                li
                  a.highlight(mode="text/x-java") Java
                li
                  a.highlight(mode="text/javascript") JavaScript
                li
                  a.highlight(mode="text/x-mysql") SQL
                li
                  a.highlight(mode="text/x-php") PHP
                li
                  a.highlight(mode="text/x-python") Python
                li
                  a.highlight(mode="text/x-ruby") Ruby
            p(class="pull-right") A work in progress...

    .container-fluid
      .sidebar#chat
        #messageContainer
          #messages

        form#sendMessage
          input(id='newMessage', type='text', name='message', autocomplete='off')
          input(id='sendButton', type='submit', value='Send')

      .content
        #editor
          textarea#code
