!!! 5
html(lang="en")
  head
    != SocketStream
    meta(charset="utf-8")
    title cdpd: code with friends
  body
    #content
      #banner
        h1 This is a work in progress.
        p 
          a(href="https://github.com/jcurtis/cdpd"
          target="_blank") github repo
      #leftcolumn
        #menu
          a this is where the menu goes
        #editor
          textarea#code
      #rightcolumn
        #chat
          textarea#chatarea
